// 常用背景
$long-background-color:#fff;
$header-background-color:#f1f4ff; // 头部
// 常用字体大小
$font-size-small:12px;
$font-size-middle:14px;
$font-size-big:16px;
$font-size-large:18px;
// 字体颜色
$font-color-white:#fff;
$font-color-header:#568BD5;//头部
$font-color-1:#7F7F7F;
$font-color-2:#333333;