@mixin sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin absolute($direction) {
    position: $direction;
}

// 设置宽高
@mixin w_h_size {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

// 单行文本省略号
@mixin single_line_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}