*{
  margin: 0;
  padding: 0;
}

.el-main {
  width: 100%;
  flex-basis: 0% !important;
  padding: 0px 20px !important;
  overflow-x: hidden !important;
}

.navMenu {
  position: relative;
  width: 100%;

  .navLabelBox {
    width: auto;
    box-sizing:content-box;
    overflow: hidden;

    .navLabel {
      width: calc(100% - 30px);
      display: inline-block;
      height: calc(100% - 2px);
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
}

.content-box {
  position: absolute !important;
  left: 230px;
  right: 0px;
  top: 60px;
  bottom: 0;
  height: calc(100% - 43px);
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.content {
  height: 100%;
  box-sizing: border-box;
}

.content-collapse {
  left: 65px;
}

.header_title {
  padding: 0px 2% !important;
  float: left;
  width: 96%;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.el-InputForm {
  padding:5px;
  background: #f2f2f2;
  display: inline-block;
  border-radius: 4px;
  width: 98%;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px #e2dfdf;
  border: 1px solid #ecedf0;

  .el-form-item {
    float: left;
    margin: 15px 5px !important;
  }

  .el-form-item__content {
    line-height: 0% !important;
  }
}

.delete {
  padding: 0 0.2% !important;

  .el-button {
    float: left;
  }
}

.el-breadcrumb {
  line-height: 55px !important;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px !important;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-date-editor--daterange {
  width:100% !important;
}

.demo-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer_footer {
  margin: 30px 0px;
  .el-button {
    width:40%;
  }
}

.el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: column;

  .el-dialog__body {
    overflow: auto;
  }
}

/*ab-c 居中*/
.ab-c {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*清除浮动*/
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}