.editor {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
}

.editors {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
  .toolbar {
    border: 1px solid #F56C6C;
    border-bottom: none;
  }
  .text {
    border: 1px solid #F56C6C;
    border-top: none;
  }
}

.w-e-toolbar {
  flex-wrap: wrap !important;
  .w-e-droplist{
    top: 0px;
    border: 1px solid #e6e6e6 !important;
    box-shadow: 0px 2px 5px #e6e6e6;
    z-index: 1;
    .w-e-dp-title {
      background: #f1f1f1
    }
    .w-e-list li.w-e-item {
      color: rgb(85, 84, 84) !important;
    }
  }
  .w-e-toolbar .w-e-menu i:hover {
    color: rgb(85, 84, 84) !important;
  }
}

.toolbar {
  border: 1px solid #ececec;
  background: #f1f1f1;
}

.w-e-text-container .w-e-panel-container {
  border: 1px solid #e6e6e6 !important;
  box-shadow: 0px 2px 5px #e6e6e6;
  input {
    height: 30px !important;
    border-bottom: 1px solid rgb(236, 236, 236) !important;
  }
  .w-e-button-container button {
      color: rgb(85, 84, 84) !important;
  }
}

.w-e-text-container .w-e-panel-container .w-e-panel-tab-content textarea {
  border:1px solid #ececec !important;
}

.w-e-toolbar .w-e-droplist ul.w-e-list {
  font-size: 14px;
  color: rgb(85, 84, 84) !important;
  span i {
    display: none;
  }
}

.text {
  border: 1px solid #ececec;
  border-top: none;
  text-align: left;
  height: 300px;
}
.prompting {
  text-align: left;
  color: #F56C6C;
}