// 侧边栏背景色
$color-MenuBg: #172853;
// 侧边栏子集背景色
$color-MenuSubBg: #0D1C3E;
// 侧边栏字体色
$color-MenuText: #bfcbd9;
// 侧边栏悬停背景色
$color-MenuHoverBg: #0D1C3E;
// 侧边栏选中字体色
$color-MenuHoverText: #fff;
//logo背景色
$color-MenuLogoBg:#fff;
$color-MenuLogoText:#0D1C3E;

$color-HeaderBottomBorderColor:#fff;