<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.resourcecatalog.db.dao.CataAppBusRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.resourcecatalog.db.domain.CataAppBusRel">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="item_id" property="itemId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, item_id
    </sql>

</mapper>
